*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgb(24, 24, 24);
}
.left{
    position: fixed;
    width: 25%;
    top: 0;
    left: 0;
    background-color: rgb(34, 34, 34);
    height: 88vh;
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
}
.lefttop{
    width: 100%;
    height: 19%;
    background-color: rgb(45, 45, 45);
    padding: 2% 5%;
    border-radius: 20px;
    margin-bottom: 10px;
}
.leftdown{
    height: 79%;
    width: 100%;
    background-color: rgb(45, 45, 45);
    padding: 2% 5%;
    border-radius: 20px;
}
.leftdown-text{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 25px;
    font-size: 15px;
    color: rgb(215, 215, 215);
}
.leftdown-text i{
    font-size: 20px;
}
.fa-plus{
    position: absolute;
    right: 8%;
}
.home{
    display: flex;
    align-items: center;
    gap: 25px;
    color: rgb(215, 215, 215);
    height: 50%;
    font-size: 16px;
}
.home i{
    font-size: 20px;
}
.playlist, .podcast{
    margin-top: 10px;
    background-color: rgb(60, 60, 60);
    width: 100%;
    height: max-content;
    padding: 2% 5%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(215, 215, 215);
}
.podcast::after{
    content: "";
    width: 100%;
    position: relative;
    bottom: -30px;
    height: 2px;
    background-color: rgba(215, 215, 215, 0.535);
}
.options{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    font-size: 14px;
    color: rgb(215, 215, 215);
    font-weight: 400;
    margin-top: 40px;
    padding: 2% 5%;
    line-height: 10px;
}
.lang{
    color: white;
    text-decoration: none;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 2% 5%;
    gap : 10px;
    border: 2px solid white;
    border-radius: inherit;
    margin-left: 5%;
    margin-top: 15px;
}
.playlist button, .podcast button{
    width: max-content;
    height: max-content;
    padding: 8px 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: inherit;
    border: none;
}
.bottom
{
    position:fixed;
    bottom: 0;
left: 0;
width: 100%;
height: 10vh;
background: linear-gradient(to right,#ad2d9c,#509af3);
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 25px;
margin: 5px;
border-radius: 10px;
}
.bottom button{
    padding: 5px 25px;
    font-size: 20px;
    border-radius: 21.8px;
    border: none;
    font-weight: bold;
}
.text{
    display: flex;
    flex-direction: column;
    color: white;
}
.right{
    display: flex;
    flex-direction: column;
    width: 72%;
    height: 88vh;
    position: relative;
    overflow-y: auto;
    left: 25.4%;
    margin: 5px;
    border-radius: 20px;
    overflow-x: hidden;
}
.nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1% 4%;
    background-color: rgb(34, 34, 34);
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px ;
    border-radius: 20px 0 20px 0;
}
.navleft span{
    font-size: 30px;
    background-color: rgb(39, 39, 39);
    height: 35px;
    width: 35px;
    padding: 0 12px;
    color: white;
    border-radius: 50%;
    margin-right: 10px;
}
.navright{
    display: flex;
    gap: 15px;
}
.navright button{
    background: transparent;
    border: none;
    color: rgb(223, 223, 223);
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}
#login{
    padding: 8px 25px ;
    border-radius: 25px;
    background: rgb(187, 187, 187);
    color: rgb(24, 24, 24);
}
.focus{
    color: white;
    display: flex;
    flex-direction: column;
    height: max-content;
    margin: 10px;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    
}
.textup{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    padding: 8px 3%;
}
.textup h1{
    font-weight: bold;
}
.textup span{
    display: flex;
    align-items: center;
}
.playlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    width: 100%;
    padding: 3%;
    justify-content: space-between;
}
.play{
    height: max-content;
    width: 22%;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.405);
    position: relative;
    overflow: hidden;
}
.play img{
    width: 100%;
    border-radius: inherit;

}
.play p{
    text-align: left;
    word-break: break-all;
    line-height: 18px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.453);
}
.play h4{
    font-weight: bold;
    margin-top: 5px;
}
.footer{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 3%;
    width: 100%;
}
.lists{
    display: flex;
    flex-direction: row;
 padding: 2%;
 justify-content: space-between;
 padding-bottom: 4%;
 border-bottom: 1px solid rgba(189, 186, 186, 0.686);

}
.lists ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.lists ul li{
    color: rgba(255, 255, 255, 0.503);
    font-weight: 300;
}
.lists ul li:first-child{
    color: white;
}
.icons{
    display: flex;
    gap: 15px;
}
.icons i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(73, 73, 73);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer span{
    padding-top: 4%;
    padding-bottom: 6%;
    color: rgba(255, 255, 255, 0.515);
}
.right::-webkit-scrollbar{
    background-color: transparent;
}
.right::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.168);
    border-radius: 8px;
    width: 10px;
    position: absolute;
}
button{
    transform: scale(1);
    transition: 0.3s;
}
button:hover{
    transform: scale(1.1);
}
.play::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: inherit;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    transform: translateY(20px);
}
.play:hover::after{
    opacity: 1;
    transform: translateY(0);

    
}